<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>EmployeeSignUp</servlet-name>
  	<display-name>EmployeeSignUp</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.EmployeeSignUp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeLoginServlet</servlet-name>
  	<display-name>EmployeeLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.EmployeeLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeViewDetails</servlet-name>
  	<display-name>EmployeeViewDetails</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.EmployeeViewDetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerViewDetailsServlet</servlet-name>
  	<display-name>ManagerViewDetailsServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ManagerViewDetailsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerViewDetails</servlet-name>
  	<display-name>ManagerViewDetails</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ManagerViewDetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeUpdateDetails</servlet-name>
  	<display-name>EmployeeUpdateDetails</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.EmployeeUpdateDetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeReimbursementRequest</servlet-name>
  	<display-name>EmployeeReimbursementRequest</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.EmployeeReimbursementRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeePendingRequests</servlet-name>
  	<display-name>EmployeePendingRequests</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.EmployeePendingRequests</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeResolvedRequests</servlet-name>
  	<display-name>EmployeeResolvedRequests</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.EmployeeResolvedRequests</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerReimbursementActions</servlet-name>
  	<display-name>ManagerReimbursementActions</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ManagerReimbursementActions</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerApproveAction</servlet-name>
  	<display-name>ManagerApproveAction</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ManagerApproveAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerAction</servlet-name>
  	<display-name>ManagerAction</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ManagerAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerPendingRequests</servlet-name>
  	<display-name>ManagerPendingRequests</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ManagerPendingRequests</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerResolvedRequests</servlet-name>
  	<display-name>ManagerResolvedRequests</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ManagerResolvedRequests</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerEmployeeView</servlet-name>
  	<display-name>ManagerEmployeeView</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ManagerEmployeeView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerSpecificView</servlet-name>
  	<display-name>ManagerSpecificView</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ManagerSpecificView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutSession</servlet-name>
  	<display-name>LogoutSession</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.LogoutSession</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EmployeeSignUp</servlet-name>
  	<url-pattern>/EmployeeSignUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeLoginServlet</servlet-name>
  	<url-pattern>/EmployeeLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeViewDetails</servlet-name>
  	<url-pattern>/EmployeeViewDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerViewDetailsServlet</servlet-name>
  	<url-pattern>/ManagerViewDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerViewDetails</servlet-name>
  	<url-pattern>/ManagerViewDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeUpdateDetails</servlet-name>
  	<url-pattern>/EmployeeUpdateDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeReimbursementRequest</servlet-name>
  	<url-pattern>/EmployeeReimbursementRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeePendingRequests</servlet-name>
  	<url-pattern>/EmployeePendingRequests</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeResolvedRequests</servlet-name>
  	<url-pattern>/EmployeeResolvedRequests</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerReimbursementActions</servlet-name>
  	<url-pattern>/ManagerReimbursementActions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerApproveAction</servlet-name>
  	<url-pattern>/ManagerApproveAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerAction</servlet-name>
  	<url-pattern>/ManagerAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerPendingRequests</servlet-name>
  	<url-pattern>/ManagerPendingRequests</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerResolvedRequests</servlet-name>
  	<url-pattern>/ManagerResolvedRequests</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerEmployeeView</servlet-name>
  	<url-pattern>/ManagerEmployeeView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerSpecificView</servlet-name>
  	<url-pattern>/ManagerSpecificView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutSession</servlet-name>
  	<url-pattern>/LogoutSession</url-pattern>
  </servlet-mapping>
</web-app>
